h1 {
  margin-top: 1em;
  font-size: 64px;
  text-align: center;
}
.underscore {
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.social-buttons {
  padding: 40px;
  text-align: center;
}

h3 {
  margin-top: 60px;
  text-align: center;
}

h4 {
  margin-top: 48px;
  font-weight: bold;
}

pre {
  padding: 0;
  border: none;
}

pre code {
  padding: 9.5px !important;
}

a:hover {
  text-decoration: none;
}

.footer {
  padding: 30px 0 30px 0;
  color: #999;
}

